@{
    ViewData["Title"] = "Add New Product";
}

@*https://github.com/Egoscio-zz/webapps/blob/558608c59d1925bdeee7c48165760d99d43a13e8/README.md*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   @*  form for adding a new product *@
    @*https://learn.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-6.0&form=MG0AV3&tabs=visual-studio&form=MG0AV3*@

    <div class=" container my-4">
    <h2 class=" mb-4">Add New Product</h2>
    @* button link for adding a product *@
    @*https://getbootstrap.com/docs/4.0/components/forms/?form=MG0AV3*@
    <form method="post" enctype="multipart/form-data" action="@Url.Action("AddProduct", "Product")">
        <div class=" mb-3">
            <label for="name"class=" form-label">Product Name:</label>
            <input type="text"  class="form-control"id="name" name="Name" required />
        </div>
        <div class=" mb-3">
            <label for="description" class=" form-label">Description:</label>
            <textarea id="description"  class=" form-control" name="Description" required></textarea>
        </div>
        <div class=" mb-3">
            <label for="price"  class=" form-label">Price:</label>
            <input type="number" class="form-control" id="price"name="Price" required />
        </div>
        <div class=" mb-3"> 
            <label for="availability" class=" form-label">Number of available products:</label>
            <input type="number"class ="form-control" id="availability" name="Availability" required />
        </div>
        <div class=" mb-3">
            <label for="image" class=" form-label">Product Image: </label>
            <input type="file" class=" form-control" id="image" name="Image" />
        </div>
        @* button for adding a product *@
        <button type="submit" class=" btn btn-success">Add Product</button>
    </form>
    </div>
</body>
</html>
