@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-dark">Error.</h1>
<h2 class="text-dark">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Error:</strong> <code>@Model.RequestId</code>
    </p>
    <a href="@Url.Action("Index", "Product")" class="btn btn-danger mb-3">Go Back</a>
}

